<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Patient Book Appointments- DeepChest</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/patient.css" />
  </head>
  <body>
    <nav>
      <div class="logo">DeepChest</div>
      <div class="nav-links">
        <a href="#">Home</a>
        <a href="/patient/appointments">Appointments</a>
        <a href="/patient/reports">My Reports</a>
        <a href="/patient/messages">Message</a>
        <a href="/patient/notifications">Notifications</a>
        <div class="dropdown">
          <button class="dropbtn">Account &#9662;</button>
          <div class="dropdown-content">
            <a href="/patient/account">Manage Account</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="patient-content">
      <h1>Book your appointments with ease.</h1>
    </div>
  </body>
</html>
