<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Patient Home - DeepChest</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">DeepChest</div>
      <div class="nav-links">
        <a href="/">Appointments</a>
        <a href="/logout">Logout</a>
      </div>
    </nav>
    <div class="center-content">
      <h1>Welcome, Admin!</h1>
      <p>Selected Appointment will show here.</p>
    </div>
  </body>
</html>
