<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Clinic Admin Book Appoiment - DeepChest</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <div class="logo">DeepChest</div>
     <div class="nav-links">
        <a href="#">Home</a>
        <a href ="/clinic_admin/AppointmentAdmin">Appoinments</a>
        <a href = "/clinic_admin/ManageAccount">Manage Account</a>
        <a href = "/clinic_admin/ManageReports">Manage Report</a>
        <a href="/logout">Logout</a>
      </div>
      </div>
    </nav>
    <div class="center-content">
      <h1>Welcome, Admin!</h1>
      <p>Book Appointment on the selected day</p>
    </div>
  </body>
</html>
