<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Browesr tab bar Title -->
    <title>Sign Up - DeepChest</title>
    <!-- Linking Stylesheet -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <!-- Main body content: form for signing up -->
    <div class="center-content">
      <h1>Sign Up</h1>
      <form method="POST" action="/signup" class="signup-form">
        <input type="text" name="username" placeholder="Username" required />
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </body>
</html>
